body {

    .header {
        background-color: #21C08B;
        margin-bottom: 0;
    }

    main {
        background-color: #21C08B;
        padding-top: 50px;        
        
        .login {
            background: linear-gradient(#21C08B, #8F57FD);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 30px;
            min-height: calc(100vh - 200px);

            .login__container {
                background-color: rgba(255, 255, 255, .1);
                border: 2px solid white;
                border-radius: 40px;
                color: white;
                padding: 60px 68px 40px;
                min-height: 700px;
                width: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .login__container--form {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0;

                    .input {
                        background-color: transparent;
                        border-bottom: 2px solid white;
                        font-size: 16px;
                        margin-bottom: 20px;
                        padding: 0 10px;
                        color: white;
                        outline-style: none;
                        height: 50px;
                        &::placeholder {
                            color: white;
                        }
                    }

                    button {
                        background-color: rgba(255, 255, 255, .1);
                        border: none;
                        border-radius: 25px;
                        color: white;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: bold;
                        height: 50px;
                        letter-spacing: 1px;
                        margin: 10px 0;
                    }

                    .login__container--remember-me {
                        color: white;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;

                        label {
                            font-size: 14px;
                        }

                        a {
                            color: white;
                            text-decoration: none;
                            font-size: 14px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .login__container--social-media {

                    div {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        margin-bottom: 10px;

                        img {
                            width: 30px;
                            margin-right: 10px;
                        }
                    }
                }

                .login__container--register {
                    font-size: 14px;

                    a {
                        color: white;
                        font-size: 16px;
                        font-weight: bold;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        height: 100px;
        width: 100%;

        a {
            color: white;
            text-decoration: none;
            font-size: 14px;
            padding-left: 30px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}