body {

    main {

        .registro { 
            display: flex;
            justify-content: center;
            background: linear-gradient(#21C08B, #8F57FD);

            .registro__container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                min-height: 700px;
                width: 450px;
                border: 2px  solid white;
                background-color: rgba(255, 255, 255, .1);
                border-radius: 40px;
                padding: 60px 68px 40px;
                color: white;

                .registro__container--form {
                    display: flex;
                    flex-direction: column;
                    
                    input {
                        background: transparent;
                        color: white;
                        border-bottom: 2px solid white;
                        padding-left: 10px;
                        font-size: 14px;
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                        outline: none;
                        &::placeholder {
                            color: white;
                        }
                    }

                    button {
                        height: 50px;
                        background-color: rgba(255, 255, 255, .1);
                        border-radius: 40px;
                        font-size: 16px;
                        color: white;
                        cursor: pointer;
                        margin-top: 20px;
                    }
                }

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 14px;
                    text-align: center;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}